
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addHero(heroName.value); heroName.value=''">
    add
  </button>
</div>

<div>
  <h2>{{'My hero list' | uppercase}}</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/heroDetail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
      </a>
      <button class="delete" title="delete hero"
              (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>
<!--<app-hero-detail [hero]="selecteHero"></app-hero-detail>-->

